/* Root block */
:root {
  --backgr-color: #ffffff;
  --link-color: #4d5ae5;
  --hover-color: #404bbf;
  --logo-color: #4d5ae5;
  --studio-color: #2e2f42;
  --text-color: #434455;
  --filter-button-color: #e7e9fc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--backgr-color);
}

button {
  background-color: var(link-color);
  color: var(backgr-color);
  font-weight: 500;
}

button:hover {
  background-color: var(--hover-color);
}

button:focus {
  background-color: var(--hover-color);
}

a {
  color: #2e2f42;
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
}

a:focus {
  color: var(--hover-color);
}


.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

.logo {
  display: inline-block;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.link {
  text-decoration: none;
}

.studio-top {
  color: var(--studio-color);
}

.studio-bottom {
  color: #f4f4fd;
}

.list {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}

.adress {
  font-style: normal;
}

.hero {
  background-color: var(--studio-color);
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 188px 0;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;

  margin-left: auto;
  margin-right: auto;
}

.nav-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--studio-color);
  padding: 24px 0;
}

.nav-menu-item:hover {
  color: var(--hover-color);
}

.nav-menu-item:focus {
  color: var(--hover-color);
}

.mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.adr {
  font-style: normal;
  gap: 40px;
  margin-left: auto;
  align-items: center;
  display: flex;
}

.header-border {
  border-bottom: 1px solid #e7e9fc;
}

.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  margin-top: 48px;
  padding: 16px 32px;
  border-radius: 4px;
  border-color: #4d5ae5;
}

.about {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-list {
  gap: 24px;
}

.what-doing-item {
  width: calc((100% - 48px) / 3);
}

.list-item {
  width: calc((100%-3*24px)/4);
}

.list-item-description {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.list-text {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--studio-color);
}

.paragr-one {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.what-doing-section {
  padding-bottom: 120px;
}

.what-doing-list {
  display: flex;
  gap: 24px;
}

.chapter {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--studio-color);
}

.team {
  background-color: #f4f4fd;
  /* margin-top: 72px; */
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  margin-top: 72px;
  gap: 24px;
}

.team-list-item {
  width: calc((100%-72px)/4);
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
}

.empl-name {
  margin-bottom: 8px;
  color: var(--studio-color);
}

.empl-descr {
  padding: 32px 16px;
  text-align: center;
}

.footer {
  background-color: var(--studio-color);
  padding: 100px 0;

}

.gallery {
  box-sizing: content-box;
  width: 1164px;
  margin-left: auto;
  margin-right: auto;
 padding: 96px 0 120px;
}

.gallery-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-top: 72px;

}

.project-card {
  width: calc((100% - 48px) / 3);
  padding-top: 0;
  /* padding-bottom: 32px; */
}

.card-content {

  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.filter-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
  justify-content: center;
}

.filter-button {
  max-height: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: var(--link-color);
  background-color: var(--filter-button-color);
  cursor: pointer;
  border: 1px solid var(--filter-button-color);
  padding: 12px 24px;
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--backgr-color);
  background-color: var(--hover-color);
  border: 1px solid transparent;
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-container {
  display: flex;
  align-items: center;
  height: 72px;
}

.header-nav {
  display: flex;

  gap: 40px;

  align-items: center;

}

.footer-text {
  width: 264px;
  color: #F4F4FD;
  margin-top: 16px;
 
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

letter-spacing: 0.02em;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}